<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head th:insert="~{fragments :: head_default}"></head>
    <body>
        <th:header>
            <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
                <h2>Funcionários</h2></hgroup>
        </th:header>

        <nav th:insert="~{fragments :: nav_default}"></nav>

        <section>
            <h3>Cadastro</h3>
            <form action="sfunc" th:object="${funcionario}" method="post">
                <h4>Dados Pessoais</h4>
                <p><label>Nome: <input type="text" th:field="*{nome}" autofocus="autofocus" required="required" /></label>
                <label>Sobrenome: <input type="text" name="txsobrenome" th:field="*{sobrenome}" required="required" /></label></p>

                <p><label>RG: <input type="text" name="txrg" th:field="*{rg}" required="required" /></label></p>

                <p><label>CPF: <input type="text" name="txcpf" th:field="*{cpf}" required="required" /></label></p>

                <p>Gênero:</p>
                <p><label><input class="with-gap" type="radio" th:field="*{gen}" th:value="F" /> Feminino</label></p>
                <p><label><input class="with-gap" type="radio" th:field="*{gen}" th:value="M" /> Masculino</label></p>

                <p><label>Data de Nascimento: <input type="date" name="dtnasc" th:field="*{dtNasc}" required="required" /></label></p>

                <h4>Dados Profissionais</h4>
                <p><label>Classificação: <select class="input-field col s12" name="classificacao" th:field="*{fkClassificacao}" required="required">
                    <option th:each="classificacoes : ${listaClassificacoes}" th:value="${classificacoes.pkClassificacao}" th:text="${classificacoes.nome}"></option>
                </select></label></p>

                <p><label>Data de Admissão: <input type="date" name="admissao" th:field="*{dtAdmissao}" /></label></p>

                <p><label>PIS: <input type="text" name="pis" th:field="*{pis}" /></label></p>

                <h4>Informações de contato</h4>

                <div th:replace="~{fragments :: form_endereco}"></div>

                <!-- <p><label>Telefone: <input type="tel" name="telefone" th:field="*{fktelefone}"></label></p> -->

                <p><label>E-mail: <input type="email" name="email" th:field="*{email}" /></label></p>

                <input class="btn waves-effect waves-light" type="submit" value="Cadastrar" />
                <input class="btn waves-effect waves-light" type="reset" value="Cancelar" />
            </form>
        </section>
    </body>
</html>