/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Feb 2020, 13:06:34
    Author     : natal
*/
body {
    font-size: large;
}

form {
    
}

table {
    border: solid black;
    border-collapse: collapse;
    width: 80%;
}

th {
    border: solid black;
    height: 25pt;
}

td {
    border: 1px solid black;
    height: 15pt;
}

ul {
    list-style-type: none;
}
