/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Feb 2020, 13:06:34
    Author     : natalia
*/
body {
    font-size: large;
    font-family: sans-serif;
}

hgroup {
    display: inline;
    text-align: center;
}

nav a {
    margin-left: -2.5px;
    margin-right: -2.5px;
    background-color: darkcyan;
    padding: 5px;
    border: 1px black solid;
    text-decoration: none;
    color: black;
}

nav a:link, a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

nav a:link:hover, a:visited:hover {
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
}

section {
    margin: 15px 50px 15px 50px;
    padding: 15px 50px 15px 50px;
    border: 2px black solid;
    border-radius: 10px;
}

.brasaoheaderv {
    display: inline;
    width: 20px;
    height: 20px;
}



.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.login {
    margin: 20px;
    padding: 50px;
}

table {
    border: solid black;
    border-collapse: collapse;
    width: 80%;
}

th {
    border: solid black;
    height: 25pt;
}

td {
    border: 1px solid black;
    height: 15pt;
}

ul {
    list-style-type: none;
}
