/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Feb 2020, 13:06:34
    Author     : natalia
*/
body {
    font-size: large;
    font-family: sans-serif;
}

hgroup {
    display: inline;
    text-align: center;
}

section {
    margin: 15px 50px 15px 50px;
    padding: 15px 50px 15px 50px;
    border: 2px black solid;
    border-radius: 10px;
}

.brasaoheaderv {
    display: inline;
    width: 20px;
    height: 20px;
}

input.select {
    width: 250px;
}

.login {
    margin: 20px;
    padding: 50px;
}

table {
    border: solid black;
    border-collapse: collapse;
    width: 80%;
}

th {
    border: solid black;
    height: 25pt;
}

td {
    border: 1px solid black;
    height: 15pt;
    text-align: center;
}

.error {
    border: solid red;
}
