<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:insert="~{fragments :: head_default}"></head>
<body>
    <header th:insert="~{fragments :: header_default}">
    </header>

    <nav th:insert="~{fragments :: nav_default}"></nav>

    <section>
        <h3>Ajuda</h3>
        -INDICES
        -Não Estou cadastrado, oq fazer?
    </section>
</body>
</html>
