<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Coordenadoria de Educação de Fartura</title>
    <meta charset="UTF-8"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Cursos</h2></hgroup>
    </header>

    <nav>
        <a th:href="@{/}">Apresentação</a>
        <a th:href="@{/funcionarios}">Funcionários</a>
        <a th:href="@{/cursos}">Cursos</a>
        <a th:href="@{/instituicoes}">Instituições de Ensino</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/ajuda}">Ajuda</a>
    </nav>

    <section>
        <h3>Cadastro</h3>
        <form th:object="${Cursos}" th:action="@{/save}" method="post">
            <p><label>Nome do curso: <input type="text" name="txnome" th:field="*{nome}" autofocus="autofocus" required></label></p>

            <p><label>Tipo do curso: <select name="tp_curso" th:field="*{tpCurso}" required>
                <option>Graduação</option>
                <option>Pós-Graduação</option>
                <option>Genéricos</option>
            </select></label></p>

            <p><label>Carga horária: <input type="number" name="cargahoraria" th:field="*{cargaHoraria}"></label></p>

            <p><label>Instituição em que o curso foi realizado: <select name="instituicao" th:field="*{fkInstituicao}">
                <option></option>
                <option></option>
                <option></option>
            </select></label></p><a style="color: #045491;">Cadastrar nova instituição</a>

            <p><label>Cidade em que o curso foi realizado: <input type="text" name="cidade" th:field="*{cidade}"></label></p>

            <input type="submit" value="Cadastrar">
            <input type="reset" value="Cancelar">
        </form>
    </section>
</body>
</html>