<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt">
    <head>
        <title>Coordenadoria de Educação de Fartura</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>
        <header><h1>Coordenadoria de Educação de Fartura</h1></header>

        <nav>
            <a href="index.html">Apresentação</a>
            <a>Busca</a>
            <a href="login.html">Login</a>
            <a>Ajuda</a>
        </nav>

        <section>
                <h3>Cadastrar Docente</h3>


                <p><label>Nome: <input name="nome" type="text" value=""/></label></p>
                <p><label>RG: <input name="rg" type="text" value=""/></label></p>
                <p><label>CPF: <input name="cpf" type="text" value=""/></label></p>
                <p>Gênero:
                <ul>
                        <li><label>Feminino<input name="gen" type="radio" value="f"/></label></li>
                        <li><label>Masculino<input name="gen" type="radio" value="m"/></label></li>
                </ul>
                <p><label>Data de Nascimento: <input name="dtNasc" type="date" value=""/></label></p>
                <p><label>Data de Admissão: <input name="dtAdm" type="date" value=""/></label></p>
                <p><label>UF<select name="uf" size="5">
                        <option>SP</option>
                        <option>PR</option>
                        <option>AC</option>
                        <option>AL</option>
                        <option>AP</option>
                        <option>AM</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                        <option>TESTE</option>
                    </select></label></p>
                
                    <p><label>Município: <input name="municipio" type="text" value=""/></label></p>
                    <p><label>Bairro: <input name="bairro" type="text" value=""/></label></p>
                

        </section>
        <footer></footer>
    </body>
</html>
