<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt">
<head>
	<title>Coordenadoria de Educação de Fartura</title>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="../static/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header><h1>Coordenadoria de Educação de Fartura</h1></header>

<nav>
	<button>Apresentação</button>
	<button>Busca</button>
	<button>Login</button>
	<button>Ajuda</button>
</nav>

<section>
	<h3>Cadastrar Docente</h3>


	<label>Nome: <input name="nome" type="text" value=""/></label>
	<label>RG: <input name="rg" type="text" value=""/></label>
	<label>CPF: <input name="cpf" type="text" value=""/></label>
	<p>Gênero:
	<ul>
		<li><label>Feminino<input name="gen" type="radio" value="f"/></label></li>
		<li><label>Masculino<input name="gen" type="radio" value="m"/></label></li>
	</ul>
	<label>Data de Nascimento: <input name="dtNasc" type="date" value=""/></label>

</section>
<footer></footer>
</body>
</html>
