<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:insert="~{template :: head_default}"></head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Instituições</h2></hgroup>
    </header>

    <nav th:insert="~{template :: nav_default}"></nav>

    <section>
        <h3>Cadastro</h3>
        <form action="#" th:action="@{/instituicoes/cadastro}" th:object="${instituicoes}" method="post">
            <p><label>Nome: <input type="text" name="txnomecompleto" th:field="*{nomeCompleto}" autofocus="autofocus" required></label></p>
            
            <p><label>Nome simplificado: <input type="text" name="txnomesimples" th:field="*{nomeSimples}"></label></p>

            <div th:replace="~{template :: form_endereco}"></div>

            <p><label>Telefone: <input type="tel" name="telefone" th:field="*{tel}"></label></p>

            <p><label>E-mail: <input type="email" name="email" th:field="*{email}"></label></p>
            
            <p><label>Tipo da instituição: <select name="tp_instituicao" th:field="*{tpInst}" required>
                <option value="Municipal">Municipal</option>
                <option value="Estadual">Estadual</option>
                <option value="Particular">Particular</option>
            </select></label></p>

            <input type="submit" name="save" value="Cadastrar">
            <input type="reset" value="Cancelar">
        </form>
    </section>
</body>
</html>