<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:insert="~{template :: head_default}"></head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Instituições</h2></hgroup>
    </header>

    <nav th:insert="~{template :: nav_default}"></nav>

    <section>
        <h3>Cadastro</h3>
        <form th:object="${instituicoes}" th:action="@{/instituicoes/save}" method="post">
            <p><label>Nome: <input type="text" name="txnome" th:field="*{instituicoes.nomeCompleto}" autofocus="autofocus" required></label></p>
            
            <p><label>Nome simplificado: <input type="text" name="txnome" th:field="*{instituicoes.nomeSimples}"></label></p>

            <p><label>Estado: <select name="uf" th:field="*{enderecos.uf}" required>
                <option th:value="SP">SP</option>
                <option th:value="PR">PR</option>
                <option th:value="RJ">RJ</option>
            </select></label></p>

            <p><label>Município: <input type="text" name="municipio" th:field="*{enderecos.municipio}"></label></p>

            <p><label>Bairro: <input type="text" name="bairro" th:field="*{enderecos.bairro}"></label></p>

            <p><label>Rua: <input type="text" name="rua" th:field="*{enderecos.rua}"></label></p>

            <p><label>Número: <input type="number" name="num" th:field="*{enderecos.num}"></label></p>

            <p><label>Complemento: <input type="text" name="complemento" th:field="*{enderecos.complemento}"></label></p>

            <p><label>Telefone: <input type="tel" name="telefone" th:field="*{instituicoes.tel}"></label></p>

            <p><label>E-mail: <input type="email" name="email" th:field="*{instituicoes.email}"></label></p>
            
            <p><label>Tipo da instituição: <select name="tp_curso" th:field="*{instituicoes.tpInst}" required>
                <option value="Municipal">Municipal</option>
                <option value="Estadual">Estadual</option>
                <option value="Particular">Particular</option>
            </select></label></p>

            <input type="submit" value="Cadastrar">
            <input type="reset" value="Cancelar">
        </form>
    </section>
</body>
</html>