<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:insert="~{template :: head_default}"></head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Cursos</h2></hgroup>
    </header>

    <nav th:insert="~{template :: nav_default}"></nav>

    <section>
        <h3>Cadastro</h3>
        <form>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="classificacoes : ${classificacoeslista}">
                        <td th:text="${classificacoes.pkClassificacao}"></td>
                        <td th:text="${classificacoes.nome}"></td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/cadastroclassificacao}">Adicionar</a>
        </form>
    </section>
</body>
</html>
