<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head th:insert="~{fragments :: head_default}">
        <link href="../static/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection"/>
        <link href="../static/css/materialize.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
                <h2>Classificacoes</h2></hgroup>
        </header>

        <nav th:insert="~{fragments :: nav_default}"></nav>

        <section>
            <h3>Classificacoes</h3>
            <form action="sclass" method="post" th:object="${classificacoes}">
                <input th:field="*{pkClassificacao}" readonly="readonly" />
                <p><label>Nome: <input type="text" name="nome" th:field="*{nome}" autofocus="autofocus" /></label>
                <button type="submit" class="btn waves-effect waves-light">Salvar</button></p>
            </form>
            <form>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="classificacoes : ${classificacoeslista}">
                            <td th:text="${classificacoes.pkClassificacao}"></td>
                            <td th:text="${classificacoes.nome}"></td>
                            <td><a class="btn-small" th:href="@{/classificacoes/edclass/{pkClassificacao}(pkClassificacao=${classificacoes.pkClassificacao})}">Editar</a>
                                <a class="btn-small" th:href="@{/classificacoes/remclass/{pkClassificacao}(pkClassificacao=${classificacoes.pkClassificacao})}">Remover</a></td>
                        </tr>
                    </tbody>
                </table>  
            </form>
        </section>
        <script src="../static/js/materialize.js" type="text/javascript"></script>
    </body>
</html>
