<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
<head th:insert="~{fragments :: head_default}"></head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Cursos</h2></hgroup>
    </header>

    <nav th:insert="~{fragments :: nav_default}"></nav>

    <section>
    <h3>Cursos</h3>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Carga Horária</th>
                    <th>Instituição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cursos : ${listacursos}">
                    <td th:text="${cursos.nome}"></td>
                    <td th:text="${cursos.tpCurso}"></td>
                    <td th:text="${cursos.cargaHoraria}"></td>
                    <td th:text="${cursos.fkInstituicao}"></td>
                    <td>
                        <a>Mais Informações</a>
                        <br/><a class="btn-small" th:href="@{/cursos/edcurso/{pkCurso}(pkCurso=${cursos.pkCurso})}">Editar</a>
                        <br/><a class="btn-small" th:href="@{/cursos/remcurso/{pkCurso}(pkCurso=${cursos.pkCurso})}">Remover</a>
                    </td>
                </tr>
            </tbody>
        </table>
    <p><a class="btn-small" th:href="@{/cursos/cadastrocurso}">Novo Curso</a></p>
    <p><button>Vincular curso com funcionário</button></p>
    </section>
</body>
</html>