<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Coordenadoria de Educação de Fartura</title>
    <meta charset="UTF-8"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Funcionários</h2></hgroup>
    </header>

    <nav>
        <a th:href="@{/}">Apresentação</a>
        <a th:href="@{/funcionarios}">Funcionários</a>
        <a th:href="@{/cursos}">Cursos</a>
        <a th:href="@{/instituicoes}">Instituições de Ensino</a>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/ajuda}">Ajuda</a>
    </nav>

    <section>
    <h3>Funcionários</h3>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>RG</th>
                    <th>CPF</th>
                    <th>Classificação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="funcionarios : ${funcionarios}">
                    <td th:text="${funcionarios.nome}"></td>
                    <td th:text="${funcionarios.rg}"></td>
                    <td th:text="${funcionarios.cpf}"></td>
                    <td th:text="${funcionarios.fkclassificacao}"></td>
                    <td><a>Editar</a><a>Remover</a></td>
                </tr>
            </tbody>
        </table>
        <p><a class="button" th:href="@{/funcionario/cadastro/}">Cadastrar novo funcionário</a></p>
        <p><a class="button">Vincular curso com funcionário</a></p>
    </section>
</body>
</html>