<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head th:insert="~{template :: head_default}">
        <link href="../static/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection"/>
        <link href="../static/css/materialize.min.css" rel="stylesheet" type="text/css"/>
    </head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Funcionários</h2></hgroup>
    </header>

    <nav th:insert="~{template :: nav_default}"></nav>

    <section>
    <h3>Funcionários</h3>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Classificação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcionarios : ${funcionariolista}">
                <td th:text="${funcionarios.nome}"></td>
                <td th:text="${funcionarios.sobrenome}"></td>
                <td style="text-align: center" th:text="${funcionarios.rg}"></td>
                <td style="text-align: center" th:text="${funcionarios.cpf}"></td>
                <td th:text="${funcionarios.fkClassificacao}"></td>
                <td>
                    <a th:href="@{/${funcionarios.pkFuncionario}/listacurso}">Mais Informações</a>
                    <br /><button name="editar" th:value="${funcionarios.pkFuncionario}">Editar</button>
                    <br /><button name="remover" th:value="${funcionarios.pkFuncionario}">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
        <p><a class="waves-effect waves-light btn" th:href="@{/funcionarios/cadastro}">Cadastrar novo funcionário</a></p>
        <p><a class="waves-effect waves-light btn">Vincular curso com funcionário</a></p>
    </section>
</body>
</html>