<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt">
    <head>
        <title>Coordenadoria de Educação de Fartura</title>
        <meta charset="UTF-8" />
        <link href="../static/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <hgroup><h1>Coordenadoria de Educação de Fartura</h1><h2>Apresentação</h2></hgroup>
        </header>

        <nav>
            <a href="index.html">Apresentação</a>
            <a>Busca</a>
            <a href="login.html">Login</a>
            <a>Ajuda</a>
        </nav>
        
        <section>
            <h3>Apresentação</h3>
            <p th:text="'Hello ' + ${name} + '!'" />
        </section>
    </body>
</html>
