<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt">
    <head>
        <title>Coordenadoria de Educação de Fartura</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header><hgroup><h1>Coordenadoria de Educação de Fartura</h1><h2>Apresentação</h2></hgroup></header>
        
        <nav><button>Apresentação</button><button>Busca</button><button>Login</button><button>Ajuda</button></nav>
        
        <section>
            <h3>Busca Resumida</h3>
            
            <form method="POST">
                <ul>
                    <li><label><input type="radio" name="tipo" value="Docente" />Docente</label></li>
                    <li><label><input type="radio" name="tipo" value="Monitor" />Monitor</label></li>
                    <li><label><input type="radio" name="tipo" value="ADI" />ADI</label></li>
                </ul>

                <label>Nome: <input type="text" name="nome" value="" /></label>
                <label>RG: <input type="text" name="rg" value="" /></label>
                <label>CPF: <input type="text" name="cpf" value="" /></label>
                
                <table border="2" cellpadding="5" >
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
            </form>
        </section>
        <footer></footer>
    </body>
</html>
