<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:insert="~{template :: head_default}"></head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
        <h2>Apresentação</h2></hgroup>
    </header>

    <nav th:insert="~{template :: nav_default}"></nav>

    <section>
        <h3>Apresentação</h3>
        <p th:text="'Hello ' + ${name} + '!'"/>
    </section>
</body>
</html>
