<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:insert="~{template :: head_default}"></head>
<body>
    <header>
        <hgroup><h1>Coordenadoria de Educação de Fartura</h1>
            <h2>Instituições</h2></hgroup>
    </header>

    <nav th:insert="~{template :: nav_default}"></nav>

    <section>
    <h3>Instituições</h3>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="instituicoes : ${listaInstituicoes}">
                    <td th:text="${instituicoes.nomeSimples}"></td>
                    <td th:text="${instituicoes.tpInst}"></td>
                    <td th:text="${instituicoes.tel}"></td>
                    <td th:text="${instituicoes.email}"></td>
                    <td style="text-align: center">
                        <a>Mais Informações</a>
                        <br><button name="editar" th:value="${instituicoes.pkInstituicao}">Editar</button>
                        <br><button name="remover" th:value="${instituicoes.pkInstituicao}">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a class="button" method="get" th:href="@{/instituicoes/cadastro}">Cadastrar nova instituição</a></p>
    </section>
</body>
</html>